/* Mixins :) */
@import "../mixins/e-mixins.scss";

.k-btn-gray {
  @include back-gradient(gray);
}
.k-btn-success {
  @include back-gradient(#4caf50);
}
$login-padding : 24px;
  body.login {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 48px;
    padding-right: 16px;
    padding-left: 16px;
    header {
      text-align: center;
      h1 {
      margin-top: $login-padding;
      }
    }
    section {
      margin-top: $login-padding;
      background-color: white;
      width: 280px;
      padding: $login-padding;
      border: solid 1px #d8dee2;
      border-radius: 10px;
      input {
        width: 100%;
        margin-top: 8px;
        margin-bottom: $login-padding;
        height: 32px;
        color: #555;
        font-weight: bold;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }
      }
      button {
        width: 100%;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        }
      p {
        text-align: center;
        margin-top: $login-padding;
        margin-bottom: 0;
      }
    }
    section.not-register {
      p {
        margin: 0;
      }
    }
    section.k-msj-with-btn {
      p {
        margin-top: 0;
        margin-bottom: $login-padding;
      }
    }
    section.k-alert-negative{
      width: 260px;
      border-right: solid 16px ;
      border-color: #F44336;
      background-color: rgba(255, 255, 255, 0.5);
      p {
        margin: 0;
      }
    }
    section.k-alert-warning{
      width: 260px;
      border-right: solid 16px ;
      border-color: #ff9800;
      background-color: rgba(255, 255, 255, 0.5);
      p {
        margin: 0;
      }
    }
  }